[Unit]
Description=HelloMvc Web App (ASP.NET Core)

[Service]
WorkingDirectory={{HELLOMVC_PUBLISH_TO}}
ExecStart=/usr/bin/dotnet {{HELLOMVC_PUBLISH_TO}}/{{HELLOMVC_DLL_NAME}}.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier={{HELLOMVC_IDENTIFIER}}
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT={{HELLOMVC_ENVIRONMENT}}
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
