[Unit]
Description=Example ASP.NET MVC App running on AWS Linux AMI

[Service]
WorkingDirectory=/var/www/hellomvc.staging/
ExecStart=/usr/bin/dotnet /var/www/hellomvc.staging/HelloMvc.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=hellomvc-staging
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
